* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
span {
    color: orange;
}
.photoCon {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}
.infoCon {
    width: 50%;
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: violet;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: #000;
    border-radius: 20px;
}